@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --svetle-zelena: #758c20;
    --link-color: #758c20;
    --hover-color: #758c20;
    --velikost-pisma: 15px;
    --nadpis: "Dosis";
    --texty: "quicksand";
}

.topnav-mobile {
    display: none;
}

.topnav .lg a:hover {
    background-color: white;
}


.topnav .lg img {
    height: 50px;
}

.topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    background-color: white;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    font-family: "quicksand";
    font-weight: 400;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    margin 0;
}

.topnav a:not(.lg a) {
    padding: 1rem;
    font-size: 20px;
}

.topnav a:hover {
    color: var(--svetle-zelena);

}

.topnav a.active {
    color: white;
    background-color: var(--svetle-zelena);
}

.topnav .icon {
    display: none;
}


/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover:not(.lg a) {
    color: var (--svetle-zelena);
}


















@media screen and (max-width: 600px) {
    .topnav{
        display: none;
    }
    .topnav-mobile{
        display: block;
    }

    .topnav-mobile .lg a:hover {
        background-color: white;
    }

    .topnav-mobile .lg {
        padding-left: 10px;
    }

    .topnav-mobile .lg img {
        height: 50px;
    }

    .topnav-mobile {
        overflow: hidden;
        background-color: white;
        align-content: center;
        padding: 0;
        margin: 0;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        font-family: "quicksand";
    }

    .topnav-mobile a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        text-decoration: none;
        margin 0;
    }

    .topnav-mobile a:not(.lg a) {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 20px;
    }

    .topnav-mobile a:hover {
        color: var(--svetle-zelena);

    }

    .topnav-mobile a.active {
        color: white;
        background-color: var(--svetle-zelena);
    }

    .topnav-mobile .icon {
        display: none;
    }


    /* Add a dark background on topnav links and the dropdown button on hover */
    .topnav-mobile a:hover:not(.lg a) {
        color: var (--svetle-zelena);
    }

    /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
    @media screen and (max-width: 600px) {
        .topnav-mobile a:not(:first-child) {
            display: none;
        }

        .topnav-mobile a.icon {
            float: right;
            display: block;
            color: var (--svetle-zelena);
        }
    }

    /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
    @media screen and (max-width: 600px) {
        .topnav-mobile.responsive {
            position: relative;
        }

        .topnav-mobile.responsive a.icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav-mobile.responsive a {
            float: none;
            display: block;
            text-align: left;
        }

        .topnav-mobile.responsive {
            float: none;
        }

        .topnav-mobile.responsive {
            position: relative;
        }

        .topnav-mobile.responsive {
            display: block;
            width: 100%;
            text-align: left;
            position: fixed;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

    }

    @media screen and (min-width: 600px) {
        .topnav-mobile a:not(.lg a) {
            min-width: 100px;
        }
    }
}
